.vscode
src/build_*/*
venv
!build_*/kernel.bin
!build_*/kernel.img
*.lock
*.egg-info*
.cmake
CMakeCache*
CMakeFiles
iso
.env
build.ninja
.ninja*

00_per_arne
src/group_name/src/kernel.c
build/34_amigOS/cmake_install.cmake
.devcontainer/devcontainer.json
build/34_amigOS/compile_commands.json
build/34_amigOS/disk.iso
build/34_amigOS/kernel.bin
build/34_amigOS/kernel.iso

